*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: black;
    color: white;
}

h1, h2{
    color: rgba(63, 179, 63, 0.685);
}

p{
    font-size: 18px;
}

ul{
    padding: 10px;

}