body {
  margin: 0;
  min-height: 100vh;
  /* Usa a altura mínima de toda a tela */
  display: flex;
  flex-direction: column;
  /* Organiza os itens em coluna (um em cima do outro) */
  justify-content: space-between;
  /* Removemos a centralização vertical */
  background: #2e363f;
  font-family: "Poppins", sans-serif;
}

/* Novo estilo para o container principal */
main.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* Faz este elemento crescer e ocupar o espaço disponível */
}

.login-container {
  background-color: white;
  /* Corrigido de rgba(255, 255, 255, 0,9) para white ou rgba(255, 255, 255, 0.9) */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  /* Para centralizar o logo */
}

.login-container input {
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #0f4663, #0f4663);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#logo img {
  width: 200px;
  height: auto;
  margin-bottom: 15px;
  /* Espaçamento abaixo do logo */
}

label {
  color: rgb(0, 0, 0);
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
  text-align: left;
  /* Alinha os labels à esquerda */
}

/* Estilos para o rodapé */
footer {
  width: 100%;
  text-align: center;
  padding: 0px 0;
  color: #ccc;
}

.forgot-password-link {
  text-align: left;
  /* Centraliza o texto/link */
  margin-top: 15px;
  /* Adiciona um espaço acima do link */
}

.forgot-password-link a {
  color: #4facfe;
  /* Cor azul do seu gradiente para combinar */
  font-size: 14px;
  /* Tamanho de fonte um pouco menor */
  text-decoration: none;
  /* Remove o sublinhado padrão */
  font-weight: 600;
  /* Deixa a fonte um pouco mais forte */
  transition: color 0.3s ease;
  /* Efeito suave na mudança de cor */
}
