<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="POST">
        Nome: <input name="nome"><br>
        Idade: <input name="idade"><br>
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>











<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/salvar" method="post">
        <input type="text" name="nome"><br>
        <input type="text" name="idade">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>